body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  margin: auto;
  padding: auto;}

h1 {
  text-align: center;
  color: #343a40;}

div {
  max-width: 500px;
  margin: 0px auto;
  padding: 20px;
  background-color: white;
  border-radius: 40px;}

input {
  width: 70%;
  padding: 20px;
  margin-right: 10px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  box-sizing: border-box;}

button {
  padding: 10px 30px;
  margin-top: 5px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;}

button:hover {
  background-color: #0056b3;}

ul {
  list-style-type: none;
  padding: 10px;}

li {
  display: flex;
  gap:10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px auto;
  background-color: whitesmoke;}

li button {
  background-color: blue;}

li button:hover {
  background-color: red;}